<div class="container-fluid mt-4 mb-4">
  <div class="row justify-content-around">
    <div class="col-sm-5 movie-poster form-group">
      <img *ngIf="movie.posterUrl" class="img-fluid" [src]="movie.posterUrl"/>
      <img *ngIf="!movie.posterUrl" class="img-fluid" src="{{POSTER_PLACEHOLDER_URL}}"/>
      <input class="form-control" [(ngModel)]="movie.posterUrl"/>
    </div>
    <div class="col-sm-5 movie-info">
      <div class="movie-title form-group">
        <label for="movie-title"><span>Title:</span></label>
        <input id="movie-title" class="form-control" [(ngModel)]="movie.title"/>
      </div>
      <br>
      <div class="form-group">
        <label for="movie-year">Year</label>
        <input id="movie-year" class="form-control" [(ngModel)]="movie.year"/>
      </div>
      <div class="form-group">
        <label for="movie-director">Director</label>
        <input id="movie-director" class="form-control" [(ngModel)]="movie.director"/>
      </div>
      <div class="form-group">
        <app-actors-list [actors]="movie.actors"></app-actors-list>
      </div>
      <div class="form-group">
        <label for="movie-rating">Rating</label>
        <input id="movie-rating" class="form-control" [(ngModel)]="movie.rating"/>
      </div>
      <div class="form-group">
        <label for="movie-starting">Starting</label>
        <input type="date" id="movie-starting" class="form-control" [(ngModel)]="movie.startShowDate" />
      </div>
      <div class="form-group">
        <label for="movie-ending">Ending</label>
        <input type="date" id="movie-ending" class="form-control" [(ngModel)]="movie.endShowDate"/>
      </div>
    </div>
  </div>
  <div class="description form-group">
    <label for="description">Description</label>
    <textarea id="description" [(ngModel)]="movie.description" class="form-control"></textarea>
  </div>
  <div class="text-center">
    <button class="btn btn-primary btn-lg" (click)="this.onSave()">Save</button>
  </div>
</div>
