<div class="additions-container">
  <h3 id="additions">Additions</h3>
  <form class="input-group addition-create was-validated">
    <input class="form-control"
           placeholder="name"
           required
           name="name"
           #name="ngModel"
           [(ngModel)]="newAddition"/>
    <button class="btn btn-primary"
            [disabled]="name.invalid"
            (click)="createAddition(newAddition)">Create new</button>
    <div class="invalid-feedback"
         *ngIf="name.errors?.required">
      Name is required
    </div>
  </form>
  <table class="table table-responsive-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let addition of additions">
      <td>
        <input class="form-control"
               [(ngModel)]="addition.name"
               *ngIf="addition.isEditing">
        <span *ngIf="!addition.isEditing">{{addition.name}}</span>
      </td>
      <td class="text-right">
        <button class="btn btn-danger"
                (click)="deleteAddition(addition)">Delete</button>
        <button class="btn btn-primary"
                (click)="onEdit(addition)"
        >
          {{addition.isEditing ? 'Save' : 'Edit'}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
