<div class="seats-types-container">
  <h3>Seats Types</h3>
  <div class="input-group seat-type-create">
    <input class="form-control col-2 text-center"
           placeholder="space"
           type="number"
           [(ngModel)]="newSeatsType.space"/>
    <input class="form-control"
           placeholder="name"
           [(ngModel)]="newSeatsType.name"/>
    <button class="btn btn-primary"
            (click)="createSeatsType(newSeatsType)">Create new</button>
  </div>
  <span class="text-warning">Warning: Editing seats type is not recommended if they were already used</span>
  <table class="table table-responsive-sm text-center mt-3">
    <thead>
      <tr>
        <th>Space</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seatsType of seatsTypes">
        <td>
          <span *ngIf="!seatsType.isEditing">{{seatsType.space}}</span>
          <input type="number"
                 *ngIf="seatsType.isEditing"
                 [(ngModel)]="seatsType.space">
        </td>
        <td>
          <span *ngIf="!seatsType.isEditing">{{seatsType.name}}</span>
          <input *ngIf="seatsType.isEditing"
                 [(ngModel)]="seatsType.name">
        </td>
        <td class="text-right">
          <button class="btn btn-danger"
                  (click)="deleteSeatsType(seatsType)">Delete</button>
          <button class="btn btn-primary"
                  (click)="onEdit(seatsType)">
            {{seatsType.isEditing ? 'Save' : 'Edit'}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
