<div class="seats-types-container">
  <h3>Seats Types</h3>
  <form class="form-group seat-type-create was-validated">
    <input class="form-control"
           placeholder="Name"
           name="name"
           #name="ngModel"
           required
           [(ngModel)]="newSeatsType.name"/>
    <div class="invalid-field-message"
         *ngIf="name.errors?.required">
      Name is required
    </div>
    <br>
    <input class="form-control mt-2"
           name="displayName"
           #displayName="ngModel"
           required
           placeholder="Display name"
           [(ngModel)]="newSeatsType.displayName"/>
    <div class="invalid-field-message"
         *ngIf="displayName.errors?.required">
      Display name is required
    </div>
    <br>
    <input class="form-control mt-2"
           type="number"
           name="priceMultiplier"
           #priceMultiplier="ngModel"
           min="0"
           [min]="0"
           required
           placeholder="Price multiplier"
           [(ngModel)]="newSeatsType.priceMultiplier"/>
    <div class="invalid-field-message"
         *ngIf="priceMultiplier.errors?.required">
      Price multiplier is required
    </div>
    <div class="invalid-field-message"
         *ngIf="priceMultiplier.errors?.min">
      Price should greater than 0
    </div>
    <br>
    <div class="text-center mt-2">
      <button [disabled]="name.invalid || displayName.invalid || priceMultiplier.errors"
              class="btn btn-primary"
              (click)="createSeatsType()">Create new</button>
    </div>
  </form>

  <span>Search</span>
  <app-seats-types-search-bar
    (searchEvent)="getData($event)"
    (resetPage)="resetPage()"
  >
  </app-seats-types-search-bar>

  <app-alert-stack [alerts]="alerts">
  </app-alert-stack>

  <table class="table table-responsive-sm text-center mt-3">
    <thead>
      <tr>
        <th class="selectable-thead"
            (click)="sort('name')"
        >
          <span>Name</span>
          <span *ngIf="sortingOrder.name">
            {{sortingOrder.name === ASCENDING ? ASCENDING_SYMBOL : DESCENDING_SYMBOL}}
          </span>
        </th>
        <th class="selectable-thead"
            (click)="sort('displayName')"
        >
          <span>Display Name</span>
          <span *ngIf="sortingOrder.displayName">
            {{sortingOrder.displayName === ASCENDING ? ASCENDING_SYMBOL : DESCENDING_SYMBOL}}
          </span>
        </th>
        <th class="selectable-thead"
            (click)="sort('priceMultiplier')"
        >
          <span>Price Multiplier</span>
          <span *ngIf="sortingOrder.priceMultiplier">
            {{sortingOrder.priceMultiplier === ASCENDING ? ASCENDING_SYMBOL : DESCENDING_SYMBOL}}
          </span>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seatsType of data" class="was-validated">
        <td>
          <span *ngIf="!seatsType.isEditing">{{seatsType.name}}</span>
          <input
            class="form-control"
            [ngClass]="seatsType.isEditing ? '' : 'd-none'"
            required
            #listItemName="ngModel"
            [(ngModel)]="seatsType.name"
          >
        </td>
        <td>
          <span *ngIf="!seatsType.isEditing">{{seatsType.displayName}}</span>
          <input
            class="form-control"
            [ngClass]="seatsType.isEditing ? '' : 'd-none'"
            required
            #listItemDisplayName="ngModel"
            [(ngModel)]="seatsType.displayName"
          >
        </td>
        <td>
          <span *ngIf="!seatsType.isEditing">{{seatsType.priceMultiplier}}</span>
          <input
            type="number"
            class="form-control"
            required
            min="0"
            [min]="0"
            [ngClass]="seatsType.isEditing ? '' : 'd-none'"
            #listItemPriceMultiplier="ngModel"
            [(ngModel)]="seatsType.priceMultiplier"
          >
        </td>
        <td class="text-right">
          <button
            class="btn btn-danger m-1"
            (click)="deleteItem(seatsType.id)"
          >
              Delete
          </button>
          <button
            class="btn btn-primary m-1"
            *ngIf="!seatsType.isEditing"
            (click)="toggleEdit(seatsType)"
          >
            Edit
          </button>
          <button
            class="btn btn-primary m-1"
            *ngIf="seatsType.isEditing"
            [disabled]="listItemName.invalid
              || listItemDisplayName.invalid
              || listItemPriceMultiplier?.errors"
            (click)="onEdit(seatsType)"
          >
            Save
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination
      *ngIf="pages > 1"
      [ngModel]="page"
      [totalItems]="totalItems"
      [itemsPerPage]="itemsLimit"
      [maxSize]="MAX_PAGINATION_SIZE"
      [rotate]="false"
      (pageChanged)="handlePageChange($event)"
    >
    </pagination>
  </div>
</div>
