.logo {
  text-align: center;
}

.nav-bar {
  height: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #2e2e2e;
  a {
    line-height: 50px;
    color: whitesmoke;
    text-decoration: none;
  }
}
