<div class="movie-list">
  <div class="text-center mb-3">
    <button class="btn btn-outline-primary"
            routerLink="/{{MOVIES_ROUTE}}/add">Create Movie</button>
  </div>
  <app-movie-search-bar
    (searchMoviesEvent)="getMovies($event)">
  </app-movie-search-bar>
  <table class="table text-center table-hover table-responsive-sm">
    <thead>
      <tr>
        <th>Title</th>
        <th>Starting</th>
        <th>Ending</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="selectable-row"
          *ngFor="let movie of movies"
          routerLink="/{{MOVIES_ROUTE}}/{{movie.id}}">
        <td>{{movie.title}}</td>
        <td>{{movie.startShowDate | date}}</td>
        <td>{{movie.endShowDate | date}}</td>
        <td>
          <button (click)="deleteMovie($event, movie.id)"
                  class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination *ngIf="pages > 1"
                [totalItems]="totalItems"
                [itemsPerPage]="itemsLimit"
                [maxSize]="8"
                [rotate]="false"
                (pageChanged)="handlePageChange($event)"
    >
    </pagination>
  </div>
</div>
