@import '../../../sass/variables';

$seat-height: 60px;
$seat-width: 40px;

.seats-list {
  display: flex;
}

.seat-container {
  flex-shrink: 0;
  margin: 5px;
}

.empty-seat {
  width: $seat-width;
  height: $seat-height;
  border: 1px solid;
  padding: 5px;
  display: flex;
  align-items: center;
}

.add-btn {
  cursor: pointer;
  margin: 0 auto;
  color: white;
  border: 1px solid white;
  text-align: center;
  height: 28px;
  width: 28px;
  border-radius: 20px;
  transition: 0.3s;

  &:hover {
    background-color: white;
    color: $dark;
  }
}
