<div class="seats-list">
  <div class="seat-container"
       *ngFor="let seat of row.seats; index as seatIndex"
       [ngSwitch]="seat.name">
    <div class="seat common-seat"
         *ngSwitchCase="'common'">
      <div class="seat-number">{{seatIndex + 1}}</div>
      <div class="delete-btn"
           (click)="deleteSeat(seatIndex)">&#10005;</div>
    </div>
    <div class="seat empty-seat"
         *ngSwitchCase="'empty'">
      <div class="add-btn"
           (click)="showAddModal(template, seatIndex)">+</div>
    </div>
    <div class="seat vip-seat"
         *ngSwitchCase="'vip'">
      <div class="seat-number">{{seatIndex + 1}}</div>
      <div class="seat-display-name">{{seat.displayName}}</div>
      <div class="delete-btn"
           (click)="deleteSeat(seatIndex)">&#10005;</div>
    </div>
    <div class="seat for-couples-seat"
         *ngSwitchCase="'for_couples'">
      <div class="seat-number">{{seatIndex + 1}}</div>
      <div class="seat-display-name">{{seat.displayName}}</div>
      <div class="delete-btn"
           (click)="deleteSeat(seatIndex)">&#10005;</div>
    </div>
  </div>
</div>

<!--Modal for configuring seat-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Seat settings</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Seats type</label>
      <select class="custom-select"
              [(ngModel)]="newSeat.seatType">
        <option *ngFor="let seatsType of seatsTypes"
                [selected]="seatsType.name ===newSeat.seatType">{{seatsType.name}}</option>
      </select>
    </div>
    <div class="text-center">
      <button class="btn btn-primary"
              (click)="confirmModal()">Confirm</button>
    </div>
  </div>
</ng-template>
