.container {
  padding: 25px;
  .list-group {
    border-radius: 0;
  }
}
.movie-poster {
  img {
    width: 100%;
  }
}

.title {
  //text-align: center;
}

input {
  border-radius: 0;
}
