<div class="container">
  <div class="title"><h3>title: {{movie.title}}</h3></div>
  <div class="row justify-content-around">
    <div class="col-sm-5 movie-poster">
      <img [src]="movie.posterUrl"/>
    </div>
    <div class="col-sm-5 movie-info">
      <div>Year {{movie.year}}</div>
      <div>Director {{movie.director}}</div>
      <div>Actors: {{movie.actors}}</div>
      <div>Rating: {{movie.rating}}</div>
      <div>Starting: {{movie.showStartDate | date}}</div>
      <div>Ending: {{movie.showEndDate | date}}</div>
    </div>
  </div>
</div>
