<div class="room-container">
  <!--Header-->
  <div
    class="room-header"
    (click)="toggleDetails()"
  >
    <input
      class="name-input"
      [disabled]="!isEditingName"
      [(ngModel)]="room.name"
      (click)="$event.stopPropagation()"
    />
    <div class="btn-group">
      <button
        class="btn btn-outline-light"
        (click)="toggleNameEdit($event);"
      >
        {{!isEditingName ? 'Edit' : 'Save'}} Name
      </button>
      <button
        class="btn btn-outline-danger"
        (click)="deleteRoom($event)"
      >
        Delete
      </button>
    </div>
  </div>

  <!--Details-->
  <div
    class="room-details"
    *ngIf="!isDetailsHidden"
  >
    <div class="screen mb-3">Screen</div>
    <app-row-list [rows]="room.rows"></app-row-list>
  </div>

</div>
