<div class="pt-3">
  <!--Name-->
  <div class="form-group was-validated">
    <label for="name">Name</label>
    <span class="text-danger">*</span>
    <input
      class="form-control"
      id="name"
      name="name"
      #name="ngModel"
      required
      [(ngModel)]="cinema.name"
    >
    <div
      class="invalid-feedback position-absolute"
      *ngIf="name.errors?.required"
    >
      Name is required
    </div>
  </div>
  <br>

  <!--City-->
  <div class="form-group was-validated">
    <label for="city">City</label>
    <span class="text-danger">*</span>
    <input
      class="form-control"
      id="city"
      name="city"
      #city="ngModel"
      required
      [(ngModel)]="cinema.city"
    >
    <div
      class="invalid-feedback position-absolute"
      *ngIf="city.errors?.required"
    >
      City is required
    </div>
  </div>
  <div class="text-center mb-3 small">
    <span class="text-danger">*</span>
    <span>indicates required field</span>
  </div>
  <br>

  <!--Rooms-->
  <div>
    <app-room-list [rooms]="cinema.rooms"></app-room-list>
  </div>

  <!--Alerts-->
  <app-alert-stack [alerts]="alerts"></app-alert-stack>

  <div class="text-center mt-5 mb-3">
    <button
      (click)="onSave()"
      [disabled]="name.invalid || city.invalid"
      class="btn btn-lg btn-primary"
    >
      Save
    </button>
  </div>
</div>
