@import '../../sass/variables';

.logo {
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  background-color: lighten($dark, 5) ;
}

main {
  flex-grow: 1;
}

.nav-bar {
  height: 50px;
  display: flex;
  justify-content: space-around;
  background-color: $dark;
  a {
    line-height: 50px;
    color: whitesmoke;
    text-decoration: none;
  }
}
