<div class="home">
  <header>
    <div class="text-right position-absolute w-100">
      <button class="btn btn-light" (click)="logout()">Log Out</button>
    </div>
    <div class="logo">
      <a routerLink="/">Admin panel</a>
    </div>
    <nav class="nav-bar">
      <a routerLink={{routes.MOVIES_ROUTE}}>Movies</a>
      <a routerLink={{routes.CINEMAS_ROUTE}}>Cinemas</a>
      <a routerLink={{routes.MOVIE_SESSIONS_ROUTE}}>Movie sessions</a>
      <a routerLink={{routes.USERS_ROUTE}}>Users</a>
      <a routerLink={{routes.ADDITIONAL_SERVICES_ROUTE}}>Additional services</a>
      <a routerLink={{routes.SEATS_TYPES_ROUTE}}>Seats Types</a>
    </nav>
  </header>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>

