<label for="actors">Actors</label>
<div class="input-group">
  <div>
    <button (click)="pushActor(newActor)" class="btn btn-outline-primary" type="button">+</button>
  </div>
  <input id="actors" class="form-control" [(ngModel)]="newActor"/>
</div>
<div class="form-group">
  <div *ngFor="let actorIndex of actors.keys()" class="input-group">
    <div>
      <button (click)="deleteActor(actorIndex)" class="btn btn-outline-secondary" type="button">x</button>
    </div>
    <input class="form-control" [(ngModel)]="actors[actorIndex]">
  </div>
</div>
