.room-row-container {
  margin: 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.room-row {
  border: 1px dashed transparentize(white, 0.35);
  overflow: auto;
  margin: 0 10px 0 10px;
}